#login{
    width: 100%;
    height: 100%;
    background-color: #f7f8fa;
    overflow: hidden;
}
.login-logo{
    width: 240px;
    height: 80px;
    margin: 60px auto;
}
.login-logo img{
    width: 100%;
    height: 100%;
}
.login-form{
    width: 280px;
    margin: 0 auto;
}
.to-registView{
    font-size: 12px;
    float: right;
    margin-right: 15px;
}